# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=mobilemed_db
DB_SCHEMA=public

# Configurações da Aplicação
PORT=3000
NODE_ENV=development

# Configurações de Log
LOG_LEVEL=debug
